html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFFFF0;
}

.btn {
    background-color: #FFA07A;
    color: white;
    border: 2px solid #FFA07A;
}

.btn:hover {
    background-color: #CD5C5C;
    border: 2px solid #CD5C5C;
}

.navbar {
    background-color: #FFFFF0;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}